<header class="main-header">
  
  <!-- Logo -->
  <a href="#" class="logo" id="logo" >
    <!-- mini logo for sidebar mini 50x50 pixels -->
    
    <!-- logo for regular state and mobile devices -->
    <span class="logo-lg"><img src="../../../../assets/img/perficient-logo.png" alt=""></span>
    <span class="logo-mini"><img src="../../../../assets/img/logo.png" alt=""></span>
  </a>

  <!-- Header Navbar -->
  <nav class="navbar navbar-static-top" id="navBlack" role="navigation" >
    <!-- Sidebar toggle button-->
    <!-- <a href="#" class="sidebar-toggle" data-toggle="offcanvas" role="button">
      <span class="sr-only">切换导航</span>
    </a> -->

    <span style="color:#fff; display:inline-block;font-weight:900;padding-top:1%;font-size:20px;margin-left:1.5%">ECheckList</span>
    <!-- Navbar Right Menu -->
    <div class="navbar-custom-menu">
      <ul class="nav navbar-nav">
        
        
        <!-- User Account Menu -->
        <li class="dropdown user user-menu">
          <!-- Menu Toggle Button -->
          <a href="#" class="dropdown-toggle" id="drop" data-toggle="dropdown" style="color:#fff;border:none">
            <!-- The user image in the navbar-->
            <!-- hidden-xs hides the username on small devices so only the image appears. -->
            <span class="hidden-xs" class="username">Alexander Pierce</span>
          </a>
          <ul class="dropdown-menu">
            <!-- The user image in the menu -->
            <li class="user-header">
             
              <p>
                Alexander Pierce - Web Developer
                
              </p>
            </li>
            <!-- Menu Body -->
            <li class="user-body">
              <div class="row">
                <div class="col-xs-4 text-center">
                  <a href="#">flower</a>
                </div>
                
                <div class="col-xs-4 text-center">
                  <a href="#">friend</a>
                </div>
              </div>
              <!-- /.row -->
            </li>
            <!-- Menu Footer-->
            <li class="user-footer">
              
              <div class="pull-right">
                <a href="#" class="btn btn-default btn-flat">exit</a>
              </div>
            </li>
          </ul>
        </li>
        <!-- Control Sidebar Toggle Button -->
      
      </ul>
    </div>
  </nav>
</header>