
<section class="content-header">
  <h1>
    Workflow
  </h1>
</section>
<section class="content">
   <div class="messBox">
    <div class="errorColor" *ngIf="ifempty">{{emptyworkflowNameMessage}}</div>
    <div class="errorColor" *ngIf="!ifworkflowNameVaild">{{unvalidInputMessage}}</div>
    <div class="successColor" *ngIf="ifSaveSuccess">{{showSuccess}}</div>
    <div class="errorColor" *ngIf="duplicatedWorkFlowName">{{duplicateMessage}}</div>
    <div class="successColor" *ngIf="showSuccess">{{successMessage}}</div>
  </div> 

  <input style="width:220px;border-radius: 3px; "autocomplete="off" type="text" class="form-control" id="name" placeholder="WorkFlow Name"
    [(ngModel)]="workflowName" (keyup)="checkWorkFlowName($event)">
    <!--  -->
    <div *ngIf="ifWorkflowId">
    <button type="button" class="btnPosition btn btn-danger"  (click)="toStepDetail()" style="margin-bottom:20px;margin-top:30px">Add Step</button>
    <!-- instance team -->
    <table id="showTable" class="table table-striped">
      <thead>
        <tr>
          <th>No.</th>
          <th>Name</th>
          <th></th>
        </tr>
      </thead>
      <tbody>
        <tr *ngFor="let step of resultBean.Data, let i =index">
          <td>{{i+1}}</td>
          <td>{{step.Name}}</td>
          <td>
            <span id="pencil" class="glyphicon glyphicon-pencil" (click)="updataStep(step.Id,step.Name)"></span>
            <span id="trash" class="glyphicon glyphicon-trash" [@canDelete]="triggerMap.get(step.Id)" #delete (click)="triggerState(step.Name,step.Id,$event)"></span>

          </td>
        </tr>
      </tbody>
    </table> 
  </div>
    <button type="button" id="backBtn" (click)="toWorkflowList()" class="btnSaveAndCancel btn btn-danger">Back</button>
    <button type="button" [disabled]="ifempty || !onceSave ||ifFirstTimeInto" id="saveBtn" (click)="addWorkFlow()" class="btnSaveAndCancel btn btn-success">Save</button>
</section>

